/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS flavors that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Customizações Globais do Projeto
 */

// Garante que o fundo da aplicação consiga aplicar as cores vibrantes sem interferência
ion-content {
  --background: #ffffff; // Cor padrão de fundo
}

// Estilização global para imagens de perfil (caso use em mais de uma tela)
.foto-perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    object-fit: cover;
  }
}

// Classe utilitária global para centralizar flexbox, se precisar nas Tabs 2 e 3
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}